/* estilos para dispositivos com largura de tela acima de 2560px */
@media only screen and (min-width: 2561px) {
    h1 {font-size: 72px;}
    h2 {font-size: 48px;}
    p {font-size: 36px;}
    a {font-size: 36px;}
  
    img {
      max-width: 100%;
      height: auto;
    }
  
    iframe {
      width: 1000px;
      height: 700px;
    }
  }

/* estilos para dispositivos com largura de tela entre 1921px e 2560px */
@media only screen and (min-width: 1921px) and (max-width: 2560px) {
    h1 {font-size: 60px;}
    h2 {font-size: 40px;}
    p {font-size: 30px;}
    a {font-size: 30px;}
  
    img {
      max-width: 100%;
      height: auto;
    }
  
    iframe {
      width: 800px;
      height: 600px;
    }
  }

/* estilos para dispositivos com largura de tela entre 1601px e 1920px */
@media only screen and (min-width: 1601px) and (max-width: 1920px) {
    h1 {font-size: 48px;}
    h2 {font-size: 38px;}
    p {font-size: 28px;}
    a {font-size: 28px;}
  
    img {
      max-width: 100%;
      height: auto;
    }
  
    iframe {
      width: 700px;
      height: 500px;
    }
  }

/* estilos para dispositivos com largura de tela entre 1367px e 1600px */
@media only screen and (min-width: 1367px) and (max-width: 1600px) {
    h1 {font-size: 42px;}
    h2 {font-size: 34px;}
    p {font-size: 26px;}
    a {font-size: 26px;}
  
    img {
      max-width: 100%;
      height: auto;
    }
  
    iframe {
      width: 600px;
      height: 400px;
    }
  }

/* estilos para dispositivos com largura de tela entre 1025px e 1366px */
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
    h1 {font-size: 40px;}
    h2 {font-size: 32px;}
    p {font-size: 24px;}
    a {font-size: 24px;}
  
    img {
      max-width: 100%;
      height: auto;
    }
  
    iframe {
      width: 600px;
      height: 400px;
    }
  }
  
  /* estilos para dispositivos com largura de tela entre 1024px e 769px */
  @media only screen and (max-width: 1024px) and (min-width: 769px) {
    h1 {font-size: 36px;}
    h2 {font-size: 24px;}
    p {font-size: 18px;}
    a {font-size: 18px;}
  
    img {
      max-width: 100%;
      height: auto;
    }
  
    iframe {
      width: 500px;
      height: 350px;
    }
  }
  
  /* estilos para dispositivos com largura de tela entre 768px e 481px */
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    h1 {font-size: 24px;}
    h2 {font-size: 18px;}
    p {font-size: 14px;}
    a {font-size: 14px;}
  
    img {
      max-width: 100%;
      height: auto;
    }
  
    iframe {
      width: 400px;
      height: 280px;
    }
  }
  
  /* estilos para dispositivos com largura de tela entre 480px e 321px */
  @media only screen and (max-width: 480px) and (min-width: 321px) {
    h1 {font-size: 18px;}
    h2 {font-size: 16px;}
    p {font-size: 12px;}
    a {font-size: 12px;}
  
    img {
      max-width: 100%;
      height: auto;
    }
  
    iframe {
      width: 300px;
      height: 200px;
    }
  }
  
  /* estilos para dispositivos com largura de tela menor ou igual a 320px */
  @media only screen and (max-width: 320px) {
    h1 {font-size: 16px;}
    h2 {font-size: 14px;}
    p {font-size: 12px;}
    a {font-size: 12px;}
  
    img {
      max-width: 100%;
      height: auto;
    }
  
    iframe {
      width: 250px;
      height: 150px;
    }
  }