/* estilos para dispositivos com largura de tela maior ou igual a 1025px */
@media only screen and (min-width: 1025px) {
    h1 {font-size: 48px;}
    h2 {font-size: 36px;}
    h3 {font-size: 24px;}
  
    img {
      max-width: 100%;
      height: auto;
    }
  
    iframe {
      width: 600px;
      height: 400px;
    }
  }
  
  /* estilos para dispositivos com largura de tela entre 1024px e 769px */
  @media only screen and (max-width: 1024px) and (min-width: 769px) {
    h1 {font-size: 36px;}
    h2 {font-size: 24px;}
    h3 {font-size: 18px;}
  
    img {
      max-width: 100%;
      height: auto;
    }
  
    iframe {
      width: 500px;
      height: 350px;
    }
  }
  
  /* estilos para dispositivos com largura de tela entre 768px e 481px */
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    h1 {font-size: 24px;}
    h2 {font-size: 18px;}
    h3 {font-size: 14px;}
  
    img {
      max-width: 100%;
      height: auto;
    }
  
    iframe {
      width: 400px;
      height: 280px;
    }
  }
  
  /* estilos para dispositivos com largura de tela entre 480px e 321px */
  @media only screen and (max-width: 480px) and (min-width: 321px) {
    h1 {font-size: 18px;}
    h2 {font-size: 16px;}
    h3 {font-size: 12px;}
  
    img {
      max-width: 100%;
      height: auto;
    }
  
    iframe {
      width: 300px;
      height: 200px;
    }
  }
  
  /* estilos para dispositivos com largura de tela menor ou igual a 320px */
  @media only screen and (max-width: 320px) {
    h1 {font-size: 16px;}
    h2 {font-size: 14px;}
    h3 {font-size: 12px;}
  
    img {
      max-width: 100%;
      height: auto;
    }
  
    iframe {
      width: 250px;
      height: 150px;
    }
  }
  