/* Defina estilos apenas para os elementos necessários */
body, header, main, li, section, iframe, #btnCompra, footer, figure {
    margin: 0px;
    padding: 0px;
}

body {
    color: black;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.cta1 {
    margin: 10px;
    text-align: center;
}

h1, h2 {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;   
}

iframe {
    border-radius: 10px;
}

.btn-compra {
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    background-color: #006dff;
    color:hsla(0,0%,100%,.8);
    font-weight: bold;
    text-decoration: none;
}

.btn-compra:hover {
    background-color: #6DB33F;
}

a {
    text-align: center;
}

footer {
    text-align: center;
}
